.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 40px 10px;
}

.leftContainer {
  display: flex;
  gap: 80px;
}

.leftContainer a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.resumeButton {
  background: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-decoration: none;
}
