.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
}

.container a {
  font-size: 18px;
  text-decoration: none;
}

.leftContainer {
  display: flex;
  gap: 80px;
}

.leftContainer a {
  color: #000;
  font-weight: 500;
}

.resumeButton {
  background: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
