.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
}

.container a {
  font-size: 18px;
  text-decoration: none;
}

.leftContainer {
  display: flex;
  gap: 80px;
}

.leftContainer a {
  color: black;
  font-weight: 500;
  position: relative;
}

.leftContainer a:hover::before {
  border-bottom: 3px solid black;
  bottom: -5px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.resumeButton {
  background: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
