.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 15px;
}

.iconsContainer {
  display: flex;
  gap: 15px;
}

.iconsContainer svg {
  fill: rgba(0, 0, 0, 0.85);
  height: 18px;
  width: 18px;
}

.main {
  margin: 50px 0;
}

.main p {
  line-height: 1.6;
}

.main a {
  color: var(--purple-light);
  font-weight: 500;
  transition: 200ms;
}

.main a:hover {
  color: var(--purple);
}

.main b {
  font-weight: 500;
}

.main h2 {
  font-weight: 400;
  margin: 15px 0;
}
